# exclude everything
node_modules/*
logs/*
services/HoaSaoMailService/*
services/log/*
attachments/*
projects/*
.svn/*
.svn
*.log
.idea/
temp/


# exception to the rule
!node_modules/.keepme
!node_modules/stomp-client
!logs/.keepme

/assets/export/*
!/assets/export/
!/assets/export/.keepme

/assets/export/archiver/*
!/assets/export/archiver/
!/assets/export/archiver/.keepme

/assets/export/ticket/*
!/assets/export/ticket/
!/assets/export/ticket/.keepme

/assets/uploads/*
!/assets/uploads/
!/assets/uploads/.keepme

/assets/uploads/attachments/*
!/assets/uploads/attachments/
!/assets/uploads/attachments/.keepme

/assets/uploads/avatar/*
!/assets/uploads/avatar/
!/assets/uploads/avatar/.keepme
!/assets/uploads/avatar/default.jpg

!/logs/.keepme

/certificate/*
!/certificate/
!/certificate/.keepme
