<%-breadcrumb%>
<div class="card">
  <div class="card-header">
    <h2 class="m-b-5"><%- title %></h2>
    <small class="text-muted"><i>Những trường có dấu <span class="c-red">*</span> là bắt buộc nhập. </i></small>
  </div>
  <div class="card-body card-padding">
    <div id="warning-message" class="text-center m-b-10 text-danger">

    </div>
    <div class="form-horizontal" action="sla" method="POST" id="create-form">
      <div class="form-group">
        <label for="" class="col-sm-3 control-label">Tên Dự án<span class="c-red">*</span></span></label>
        <div class="col-sm-6">
          <div class="fg-line">
            <input type="text" value="" class="form-control input-sm" id="name" name="name">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-3 control-label">Vị trí dự án<span class="c-red">*</span></span></label>
        <div class="col-sm-6">
          <div class="fg-line">
           <select name="" id="position" class="form-control">
             <option value="KHỐI DỰ ÁN MIỀN BẮC">KHỐI DỰ ÁN MIỀN BẮC</option>
             <option value="KHỐI DỰ ÁN MIỀN NAM">KHỐI DỰ ÁN MIỀN NAM</option>
             <option value="TRUNG THÂM CSKH HÀ NỘI">TRUNG THÂM CSKH HÀ NỘI</option>
             <option value="TRUNG TÂM CSKH HỒ CHÍ MINH">TRUNG TÂM CSKH HỒ CHÍ MINH</option>
             <option value="TRUNG TÂM CSKH HẢI PHÒNG">TRUNG TÂM CSKH HẢI PHÒNG</option>
             <option value="TRUNG TÂM CSKH VĨNH PHÚC">TRUNG TÂM CSKH VĨNH PHÚC</option>
             <option value="TRUNG TÂM CSKH ĐÀ NẴNG">TRUNG TÂM CSKH ĐÀ NẴNG</option>
             <option value="ĐỐI TÁC - MIỀN BẮ">ĐỐI TÁC - MIỀN BẮC</option>
             <option value="ĐỐI TÁC - MIỀN NAM">ĐỐI TÁC - MIỀN NAM</option>
             <option value="KHÁC">KHÁC</option>
           </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-3 control-label">CRM Đang sử dụng<span class="c-red">*</span></span></label>
        <div class="col-sm-6">
          <div class="fg-line">
            <select name="usingCRM" id="usingCRM" class="form-control">
              <option value="TELEHUB">TELEHUB</option>
              <option value="DIGITEL">DIGITEL</option>
              <option value="VOCALCOM">VOCALCOM</option>
              <option value="TELEHUB + DIGITEL">TELEHUB + DIGITEL</option>
              <option value="TELEHUB + VOCALCOM">TELEHUB + VOCALCOM</option>
              <option value="DIGITEL + VOCALCOM">DIGITEL + VOCALCOM</option>
              <option value="KHÁC">KHÁC</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-3 control-label">Thời gian GOLINE</label>
        <div class="col-sm-6">
          <div class="fg-line">
            <input type="date" value="" class="form-control input-sm" id="goLineTime" name="goLineTime">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-3 control-label">Thời gian off</span></label>
        <div class="col-sm-6">
          <div class="fg-line">
            <input type="date" value="" class="form-control input-sm" id="offTime" name="offTime">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="CRM" class="col-sm-3 control-label">Chức năng sử dụng cho dự án</span></label>
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="CRM" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              CRM
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="Voice" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Voice
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="Chat" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Chat
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="Email" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Email
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="smartIVR" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Smart IVR
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="SMS" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              SMS
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="hardware" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Phần cứng
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="connection" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Đường truyền
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="type" class="col-sm-3 control-label">IP</label>
        <div class="col-sm-6">
          <div class="fg-line">
            <input type="text" value="" class="form-control input-sm" id="IP" name="IP">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="type" class="col-sm-3 control-label">Số lượng Agent</label>
        <div class="col-sm-6">
          <div class="fg-line">
            <input type="text" value="" class="form-control input-sm" id="agentNumber" name="agentNumber">
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" id="submit" class="btn btn-success">Gửi</button>
        <button type="button" id="back" class="btn btn-danger">Đóng</button>
      </div>
    </div>
  </div>
</div>